/* General styles */
html {
  background-color: gray;
  height: 100%;
  font-family: serif;
}

body {
  height: inherit;
  margin: 0;
}

* {
  box-sizing: border-box;
}

canvas {
  background: gray;
  padding: 220px;
}

div {
  margin: auto;
  width: 80%;
}
